*{
				font-family: 'Yantramanav', sans-serif; 
				list-style: none;
				
}
body {
				margin: 0;
				padding: 0;
				font-size: 20px;
			  background:#EDF1FD;
}
.grid-v{
       padding: 130px 0;
       margin: 0 50px;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
				grid-gap: 10px;
	}
	
.bg{
			background: url(pic/gb2.jpg) repeat center;
      background-size: cover;    
				
}

.bg2{   
				background: #3D414D;
				border-radius: 40px 40px 0 0;
				padding: 20px 0;
				color: #EDF1FD;
}

.grid{
       padding: 0;
       margin: 0 50px;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
				grid-gap: 20px;
				
	}
		
				
header{
      padding: 0 50px;
 			color: #FE0138;
 			background: #EDF1FD;
 			left: 0;
      top: 0;
		   width:100%;
		  	
      display: flex;
      justify-content: between;
      position: fixed;
}

header h3{
				font-size: 20px;
}

aside{
      margin: 0;
      padding: 0;
      height: 100%;
      color: #EDF1FD;
      text-align: left;
      font-size: 35px;

       
				


}
main{
      height: 100%;
      color: #3D414D;
      margin: 0 auto;

}

			
img{
  display: inline-block;
  margin: auto;
}

.contact-btn{

       font-size: 80px;
  			transition: 0.2s;
				color: #EDF1FD;
				
				border-radius: 20px;
				float: none;
				text-align: center;
				
				
}
.contact-btn:hover{
  font-size: 100px;
  background: #EDF1FD;
  color: #3D414D;
}

.grid a{
				text-decoration: none;
}

footer{
      font-family: 'Roboto', sans-serif;
      width:100%;
      background: #3D414D;
      bottom: 0;
      left: 0;
      position: fixed;
      display: block;
      text-align: center;
      color: #EDF1FD;
}
footer p{
				font-size: 13px;
}

.skill{
       
       
				margin: 60px 50px;
				color: #3D414D;
				
	
	
}

.skill p{
				color: #3D414D;
}

.skill li{
				margin: 20px 0;
}

.bar{
				display: block;
				height: 7px;
				
				background: #3D414D;
				border-radius: 5px;
				overflow: hidden;
}
.bg99{
				display: block;
				height: 5px;
				background: #EDF1FD;
				border-radius: 5px;
				overflow: hidden;
}
.bar span{
				height: 7px;
				border-radius: 5px;
				float: left;
				background: #FE0138;
}

.s1{
			width: 70%;
			animation: s1 3s;
}

.s2{
			width: 50%;
			animation: s2 3s;
}

.s3{
			width: 50%;
			animation: s3 3s;
}

.s4{
			width: 40%;
			animation: s4 3s;
}

.s5{
			width: 100%;
			animation: s5 3s;
}

@keyframes s1{
				0%{
								width: 0%;
				}
				100%{
								width: 70%;
				}
}

@keyframes s2{
				0%{
								width: 0%;
				}
				100%{
								width: 50%;
				}
				
}

@keyframes s3{
				0%{
								width: 0%;
				}
				100%{
								width: 50%;
				}
				
}

@keyframes s4{
				0%{
								width: 0%;
				}
				100%{
								width: 40%;
				}
				
}

.about{
				margin: 50px;
}



.port{
			padding: 0;
       margin: 0 10px;
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
				grid-gap: 20px;
				
				
				
				
}
gd{
			margin: 0 auto;
			
			
}
       

gd img{
				width: 250px;
				height: 313px;
				border-radius: 10px;
				animation: img 1s;
}

@keyframes img{
       
				0%{
								opacity: 0%;
								
				}
				100%{
								opacity: 100%;
				}
			